<div class="text-center mb-5">
    <h1 class="display-4">HildenCo WebStore</h1>
    <p>To learn more about ASP.NET Core and microservices visit our blog at <a href="https://blog.hildenco.com">blog.hildenco.com</a>.</p>
</div>